@import "./navbar.scss";
@import "./scoreboard.scss";
@import "./team-line.scss";

* {
  box-sizing: border-box;
}

body {
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    flex: 0 0 auto;
  }

  main {
    flex: 1 1 0;
  }

  footer {
    flex: 0 0 auto;
  }
}

a {
  text-decoration: none;
}

.container {
  // TODO: responsive
  padding-left: 1rem;
  padding-right: 1rem;
}
